Source: humble
Section: python
Priority: optional
Maintainer: Rafa 'Bluesman' Faura <rafael.fcucalon@gmail.com>
Build-Depends: debhelper-compat (= 13), python3, python3-pip, dh-python
Standards-Version: 4.6.2
Homepage: https://github.com/rfc-st/humble
Vcs-Git: https://github.com/rfc-st/humble.git
Vcs-Browser: https://github.com/rfc-st/humble

Package: humble
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3, python3-pip
Description: Humble
 A humble and fast HTTP Response Header Security Analyzer
